.perfil {
    margin-top: 5%;
    margin-left: 28%;
    position: absolute;
    border-radius: 10%;
    height: 650px;
    width: 800px;
    line-height: 120px;
    text-align: center;
    background: #302c26fb;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.workerI {
    position: absolute;
    float: left;
    margin-left: 25%;
    margin-top: 15%;
}
.workerD {
    position: absolute;
    float: right;
    margin-left: 50%;
    margin-top: 15%;
   
}

.worker {
    background: #835500fb;
    border-radius: 50%;
    cursor: pointer;
    height: 140px;
    width: 140px;
   
    text-align: center;
}

.worker:hover {
    height: 160px;
    width: 160px;
    transition: all 0.5s ease;
}
li {
    list-style:none; /*escondemos puntos de li */
}

.oculto {
    opacity: 0;
    transition: ease-out;
}

.visible {
    opacity: 1;
    transition: opacity 1s ease-in 0.2s;
}

.selected {
   /* float: left;*/
    position: absolute;
    margin-top: 5%;
    margin-left: 4%;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    height: 140px;
    width: 140px;
    line-height: 120px;
    text-align: center;
    transform: translate();
    transition: all 2s ease;
}

.unSelected {
   /* float: left;*/
    position: absolute;
    margin-top: 25%;
    margin-left: 6%;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    height: 110px;
    width: 110px;
    line-height: 120px;
    text-align: center;
    transform: translate();
    transition: all 2s ease;
}

.estudioDesc {
    position: absolute;
    margin-top: 35%;
    text-align: left;
    width: 70%;
}

.workerDesc {
    position: absolute;
    margin-top: 5%;
    text-align: left;
    width: 70%;
}

.imgWorker {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    text-align: center;
   /*bordes*/
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 20px;

}


@media screen and (max-width: 800px){
    .perfil {
        margin-left: 45%;
        width: 400px;
    }
    .workerI {
        margin-left: 10%;
    }
    .workerD {
        margin-left: 50%;
    }
}

/*-----------------------------------*/

.xbody {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: black;
    background-color: #000000f0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 1;
    z-index: 0;
    transition: all 2s ease ;
    opacity: 1;
}

.fondo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    height: 90%;
    width: 70%;
}
.perfil2 {
    text-align: left;
    height: 70%;
    width: 98%;
    border-radius: 2%;
}

.imagen {
    float:left;
    background: #835500fb;
    border-radius: 0%;
    cursor: pointer;
    height: 100%;
    width: 50%;
    
    transition: all 2s ease ;
    opacity: 1;
    /*bordes*/
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 20px;
}

.imagenHover{
    opacity: 0.8;
}

.opciones {
    display: block;
    position: relative;
    float:left;
    width: 50%;
    height: 100%;
}

.contenidoOpciones {
    float:left; 
    overflow: hidden;
    cursor: pointer;
    height: 100%;
}

.opcionSeleccionado {
    float:left; overflow: hidden;
    cursor: pointer;
    height: 100%;
    width: 12%;
    background:  #e2d114d0;
    padding: 10px;
    border: #3b3a30bd;
    border-right-style: solid;
    border-top-style: solid;
    border-width: 2px;
}

.opcion {
    float:left; overflow: hidden;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background:  #d8ca35c9;
    padding: 10px;
    border: #3b3a3066;
    border-right-style: solid;
    border-top-style: solid;
    border-width: 2px;
}

.opcion:hover {
    background: #918827c9;
    padding: 11px;
}

.opcionSeleccionado:hover {
    background: #918827c9;
    padding: 11px;
}



.textoOpcion {
    overflow: visible;
    /*transform: rotate(90deg);*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    text-indent : 0px;
    writing-mode: vertical-lr;
    color: #252524f6;
    font-size: 1vw;
    letter-spacing: 2px;
    padding: 2px;
    cursor: pointer;
    margin-top: 2vw;
    transform: rotateZ(180deg);
}

.botonOpcion {
    width: 90%;
    height: 4.6%;
    background: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.fa {
    font-size: 1.5vw;
}

.panelText {
    width: 100%;
    height: 100%;
    background: #92918ada;
    padding: 5%;
    cursor: default;
}

.active, .texto:hover {
    background-color: #ccc; 
}

.contenedorSeleccionado {
    position: relative;
    width: 80%;
    height: 100%;
    float:left;
}

.contenedorVacio {
    position: relative;
    width: 10%;
    height: 100%;
    float:left;
}